<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>com.realtor.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/admin_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>com.realtor.EmployeeRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/employee_register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>third</servlet-name>
		<servlet-class>com.realtor.EmployeeLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>third</servlet-name>
		<url-pattern>/employee_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fourth</servlet-name>
		<servlet-class>com.realtor.UserRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fourth</servlet-name>
		<url-pattern>/user_register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fifth</servlet-name>
		<servlet-class>com.realtor.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fifth</servlet-name>
		<url-pattern>/user_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sixth</servlet-name>
		<servlet-class>com.realtor.AddPlot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sixth</servlet-name>
		<url-pattern>/add_plot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>seventh</servlet-name>
		<servlet-class>com.realtor.UpdatePlot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>seventh</servlet-name>
		<url-pattern>/update_plot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>eighth</servlet-name>
		<servlet-class>com.realtor.BuyPlot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eighth</servlet-name>
		<url-pattern>/buy_plot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ninth</servlet-name>
		<servlet-class>com.realtor.SalesBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ninth</servlet-name>
		<url-pattern>/sales_book</url-pattern>
	</servlet-mapping>
</web-app>