<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>al</servlet-name>
		<servlet-class>com.realtor.AdminLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>al</servlet-name>
		<url-pattern>/admin_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>er</servlet-name>
		<servlet-class>com.realtor.EmployeeRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>er</servlet-name>
		<url-pattern>/employee_register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>el</servlet-name>
		<servlet-class>com.realtor.EmployeeLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>el</servlet-name>
		<url-pattern>/employee_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ur</servlet-name>
		<servlet-class>com.realtor.UserRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ur</servlet-name>
		<url-pattern>/user_register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ul</servlet-name>
		<servlet-class>com.realtor.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ul</servlet-name>
		<url-pattern>/user_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ap</servlet-name>
		<servlet-class>com.realtor.AddPlot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ap</servlet-name>
		<url-pattern>/add_plot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>up</servlet-name>
		<servlet-class>com.realtor.UpdatePlot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>up</servlet-name>
		<url-pattern>/update_plot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bp</servlet-name>
		<servlet-class>com.realtor.BuyPlot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bp</servlet-name>
		<url-pattern>/buy_plot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sb</servlet-name>
		<servlet-class>com.realtor.SalesBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sb</servlet-name>
		<url-pattern>/sales_book</url-pattern>
	</servlet-mapping>
	 <servlet>
		<servlet-name>cp</servlet-name>
		<servlet-class>com.realtor.CompletePayment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cp</servlet-name>
		<url-pattern>/complete_payment</url-pattern>
	</servlet-mapping>
</web-app>