<div class="container mt-5">
    <h2>List of Employees</h2>
    <div class="input-group mt-5">
        <input type="text" class="form-control rounded" placeholder="Search employee..." [(ngModel)]="searchText"
            autocomplete="off" style="width: 300px;" />&nbsp;&nbsp;&nbsp;
    </div>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees | filter:searchText">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>